<!DOCTYPE html>

<html>

<head>
    <link rel='icon' href="/images/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Dylan Pivo. It is a weather app that will show you the forecast of a given location.</p>
        <img class='about_image' src='/images/anteater_and_bicycle.png'>
    </div>

    {{>footer}}
</body>

</html>